p{
    color: rgb(91, 91, 91);
}
h1{
    font-weight: bold;
    color: #000;
}
h2{
    font-weight: bold;
    color: #000;
}
body{
    background-color: antiquewhite;
}
hr{
    font-weight: bolder;
    color: #000;
}